:root{
    --head-color:#001345;
    --border-color:#B4A117;
}

@font-face {
    font-family: open-sans;
    src: url(opensans.ttf);
}

*{
    font-family: open-sans, sans-serif, 'Times New Roman', Times, serif;
    background-color: #FFFFFF;
    font-size: 1rem;
}

body{
    background-color: #E9DABB;
}

.nav-bar{
    position:fixed;
    height:6vh;
    width:100vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    top:0;
    border-bottom:1px solid var(--border-color);
    transition-property: height;
    transition-duration: 1s;
}


.nav-bar:hover{
    height:10vh;

}
.nav-tag{
    text-decoration: none;
    color:grey;
}

#nav-bar-toggle{
    display: none;
}

.image{
    width:30vw;
    height:50vh;
    float:right;
}

.image:hover{
    animation: imageRotate;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

main{
    margin-top:8vh;
    margin-left:8vw;
    margin-right:8vw;
    border-bottom: 1px solid var(--border-color);
    border-left:1px solid var(--border-color);
    border-top:1px solid var(--border-color);
    padding-left:5vw;
    border-right:1px solid var(--border-color);
    padding-right:5vw;
    overflow: auto;
}


h1{
    font-size: 2rem;
    color:var(--head-color);
}

#page-header{
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 3vh;
    padding-bottom: 3vh;
}


#information{
    height: 50vh;
    width:40vw;
}


h2{
    display:block;
    font-size: 1.5rem;
    color:var(--head-color)
}


#bio{
    text-align: justify;
}


#education{
    margin-right: 8vw;
    margin-left: 8vw;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding-left: 5vw;
    padding-right: 5vw;
}

#education-list{
    display:flex;
    justify-content: space-around;
    gap:10px;
}

#name{
    animation: changeColor 5s ease 1s;
    animation-iteration-count: infinite;
}


@keyframes changeColor {
    0%{
        color: var(--border-color);
        filter:blur(1px);
    }
    20%{
        color:var(--head-color);
    }
    40%{
        color: var(--border-color);
    }
    60%{
        color:var(--head-color);
    }
    80%{
        color:var(--border-color);
        filter: blur(1px)
    }
    100%{
        color: var(--head-color);
    }
}

@keyframes imageRotate{
    10%{
        transform: rotate(10deg);
    }
    40%{
        transform:rotate(-10deg);
    }

    70%{
        transform:rotate(10deg);
    }
    100%{
        transform:rotate(-10deg);
    }
}


@media screen and (max-width:650px){
    *{
        font-size:9pt;
        text-align:left;
    }

    h1, h2, #page-header{
        text-align:center;
    }

    .image{
        float:none;
        height:50%;
    }

    main{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #education-list{
        display:flex;
        flex-direction: column;
    }

    #bio{
        text-align: left;
    }
}

@media screen and (max-width:1000px){
    *{
        font-size:11pt;
        text-align:left;
    }

    #education-list{
        display:flex;
        flex-direction: column;
    }

    #bio{
        text-align: left;
    }

}



